[submodule "待整理的文件夹/github/menoking__PIDCarTemplate-MSPM0G3507"]
	path = 待整理的文件夹/github/menoking__PIDCarTemplate-MSPM0G3507
	url = https://github.com/menoking/PIDCarTemplate-MSPM0G3507.git
[submodule "待整理的文件夹/github/2262727886-stack__mspm0g3507-car-kit"]
	path = 待整理的文件夹/github/2262727886-stack__mspm0g3507-car-kit
	url = https://github.com/2262727886-stack/mspm0g3507-car-kit.git
[submodule "待整理的文件夹/github/abcuer__2024-NUEDC-H-TI_CAR"]
	path = 待整理的文件夹/github/abcuer__2024-NUEDC-H-TI_CAR
	url = https://github.com/abcuer/2024-NUEDC-H-TI_CAR.git
[submodule "待整理的文件夹/github/XinDevs__SmartPatrol"]
	path = 待整理的文件夹/github/XinDevs__SmartPatrol
	url = https://github.com/XinDevs/SmartPatrol.git
[submodule "待整理的文件夹/github/Kuriharamio__Electric-Race-Control"]
	path = 待整理的文件夹/github/Kuriharamio__Electric-Race-Control
	url = https://github.com/Kuriharamio/Electric-Race-Control.git
[submodule "待整理的文件夹/github/Torris-Yin__mspm0-modules"]
	path = 待整理的文件夹/github/Torris-Yin__mspm0-modules
	url = https://github.com/Torris-Yin/mspm0-modules.git
[submodule "待整理的文件夹/github/ZhijianLi2003__ZLC_MSPM0_Peripheral_Library"]
	path = 待整理的文件夹/github/ZhijianLi2003__ZLC_MSPM0_Peripheral_Library
	url = https://github.com/ZhijianLi2003/ZLC_MSPM0_Peripheral_Library.git
[submodule "待整理的文件夹/github/superbusycool__Ti_MSPM0G3507_Car"]
	path = 待整理的文件夹/github/superbusycool__Ti_MSPM0G3507_Car
	url = https://github.com/superbusycool/Ti_MSPM0G3507_Car.git
[submodule "待整理的文件夹/github/kaka12331__2024-dian-sai-h-line-follower"]
	path = 待整理的文件夹/github/kaka12331__2024-dian-sai-h-line-follower
	url = https://github.com/kaka12331/2024-dian-sai-h-line-follower.git
[submodule "待整理的文件夹/github/abcuer__2025-NUEDC-E-Ti_CAR"]
	path = 待整理的文件夹/github/abcuer__2025-NUEDC-E-Ti_CAR
	url = https://github.com/abcuer/2025-NUEDC-E-Ti_CAR.git
[submodule "待整理的文件夹/github/danshoujieyi__TI-MSPM0G3507"]
	path = 待整理的文件夹/github/danshoujieyi__TI-MSPM0G3507
	url = https://github.com/danshoujieyi/TI-MSPM0G3507.git
[submodule "待整理的文件夹/github/Cxxhh__MSPM0G3507-CMAKE-GCC-Template"]
	path = 待整理的文件夹/github/Cxxhh__MSPM0G3507-CMAKE-GCC-Template
	url = https://github.com/Cxxhh/MSPM0G3507-CMAKE-GCC-Template.git
[submodule "待整理的文件夹/github/Eliauk-Camelia__mspm0g3507-smart-car"]
	path = 待整理的文件夹/github/Eliauk-Camelia__mspm0g3507-smart-car
	url = https://github.com/Eliauk-Camelia/mspm0g3507-smart-car.git
[submodule "待整理的文件夹/github/xy1092__nuedc_control_freertos"]
	path = 待整理的文件夹/github/xy1092__nuedc_control_freertos
	url = https://github.com/xy1092/nuedc_control_freertos.git
[submodule "待整理的文件夹/github/LieWill__MSPM0G3507_for_car"]
	path = 待整理的文件夹/github/LieWill__MSPM0G3507_for_car
	url = https://github.com/LieWill/MSPM0G3507_for_car.git
[submodule "待整理的文件夹/github/woai66__SeekFree_MSPM0G3507_Opensource_Library"]
	path = 待整理的文件夹/github/woai66__SeekFree_MSPM0G3507_Opensource_Library
	url = https://github.com/woai66/SeekFree_MSPM0G3507_Opensource_Library.git
[submodule "待整理的文件夹/github/Pansamic__ros2car_mspm0"]
	path = 待整理的文件夹/github/Pansamic__ros2car_mspm0
	url = https://github.com/Pansamic/ros2car_mspm0.git
[submodule "待整理的文件夹/github/CXCXHH__Dual-vehicle-Collaborative-Intelligent-Medicine-Delivery-Cart"]
	path = 待整理的文件夹/github/CXCXHH__Dual-vehicle-Collaborative-Intelligent-Medicine-Delivery-Cart
	url = https://github.com/CXCXHH/Dual-vehicle-Collaborative-Intelligent-Medicine-Delivery-Cart.git
[submodule "待整理的文件夹/github/Zlxwy__mspm0g3507_project"]
	path = 待整理的文件夹/github/Zlxwy__mspm0g3507_project
	url = https://github.com/Zlxwy/mspm0g3507_project.git
[submodule "待整理的文件夹/github/huber2025__TI_mspm0G3507_balance_car"]
	path = 待整理的文件夹/github/huber2025__TI_mspm0G3507_balance_car
	url = https://github.com/huber2025/TI_mspm0G3507_balance_car.git
[submodule "待整理的文件夹/github/Adnis018__TI_MSPM0G3507_Trace_Tracking_Module"]
	path = 待整理的文件夹/github/Adnis018__TI_MSPM0G3507_Trace_Tracking_Module
	url = https://github.com/Adnis018/TI_MSPM0G3507_Trace_Tracking_Module.git
[submodule "待整理的文件夹/github/Ykdzds__TI2026_jy61p_car_temp_proj"]
	path = 待整理的文件夹/github/Ykdzds__TI2026_jy61p_car_temp_proj
	url = https://github.com/Ykdzds/TI2026_jy61p_car_temp_proj.git
[submodule "待整理的文件夹/github/termcczec__littlecar-mspm0g3507"]
	path = 待整理的文件夹/github/termcczec__littlecar-mspm0g3507
	url = https://github.com/termcczec/littlecar-mspm0g3507.git
[submodule "待整理的文件夹/github/gugugu531__MSPM0_Car"]
	path = 待整理的文件夹/github/gugugu531__MSPM0_Car
	url = https://github.com/gugugu531/MSPM0_Car.git
[submodule "待整理的文件夹/github/shu005__mspm0g3507-irtracking-car"]
	path = 待整理的文件夹/github/shu005__mspm0g3507-irtracking-car
	url = https://github.com/shu005/mspm0g3507-irtracking-car.git
[submodule "待整理的文件夹/github/CheeeezBlue__M0_Car_Project"]
	path = 待整理的文件夹/github/CheeeezBlue__M0_Car_Project
	url = https://github.com/CheeeezBlue/M0_Car_Project.git
[submodule "待整理的文件夹/github/Cttangg__Motor_Queen"]
	path = 待整理的文件夹/github/Cttangg__Motor_Queen
	url = https://github.com/Cttangg/Motor_Queen.git
[submodule "待整理的文件夹/github/QwQuintOO__MSPM0G3507_MOTORCONTROL"]
	path = 待整理的文件夹/github/QwQuintOO__MSPM0G3507_MOTORCONTROL
	url = https://github.com/QwQuintOO/MSPM0G3507_MOTORCONTROL.git
[submodule "待整理的文件夹/github/bigandstone__TI-Cup-2024-ProblemH-AutoCar"]
	path = 待整理的文件夹/github/bigandstone__TI-Cup-2024-ProblemH-AutoCar
	url = https://github.com/bigandstone/TI-Cup-2024-ProblemH-AutoCar.git
[submodule "待整理的文件夹/github/giaoLRL__simple-standard-car"]
	path = 待整理的文件夹/github/giaoLRL__simple-standard-car
	url = https://github.com/giaoLRL/simple-standard-car.git
[submodule "待整理的文件夹/github/glf-loser__mspm0g3507-modules"]
	path = 待整理的文件夹/github/glf-loser__mspm0g3507-modules
	url = https://github.com/glf-loser/mspm0g3507-modules.git
[submodule "待整理的文件夹/github/persica123__TMX_MSPM0G3507_ProjectTemplate"]
	path = 待整理的文件夹/github/persica123__TMX_MSPM0G3507_ProjectTemplate
	url = https://github.com/persica123/TMX_MSPM0G3507_ProjectTemplate.git
[submodule "待整理的文件夹/github/juliantreee__xunjixiaoche"]
	path = 待整理的文件夹/github/juliantreee__xunjixiaoche
	url = https://github.com/juliantreee/xunjixiaoche.git
[submodule "待整理的文件夹/github/Comet966__MSPM0G3507_examples"]
	path = 待整理的文件夹/github/Comet966__MSPM0G3507_examples
	url = https://github.com/Comet966/MSPM0G3507_examples.git
[submodule "待整理的文件夹/github/dzzz-qcxf-studio__MSPM0_Driver_Lib"]
	path = 待整理的文件夹/github/dzzz-qcxf-studio__MSPM0_Driver_Lib
	url = https://github.com/dzzz-qcxf-studio/MSPM0_Driver_Lib.git
[submodule "待整理的文件夹/github/zhujs1103__er2024"]
	path = 待整理的文件夹/github/zhujs1103__er2024
	url = https://github.com/zhujs1103/er2024.git
[submodule "待整理的文件夹/github/5ee511__MSPM0G3507-Car"]
	path = 待整理的文件夹/github/5ee511__MSPM0G3507-Car
	url = https://github.com/5ee511/MSPM0G3507-Car.git
[submodule "待整理的文件夹/github/xy1092__nuedc_control_car_freertos_template"]
	path = 待整理的文件夹/github/xy1092__nuedc_control_car_freertos_template
	url = https://github.com/xy1092/nuedc_control_car_freertos_template.git
[submodule "待整理的文件夹/github/bigandstone__TI-Cup-School-Competitions"]
	path = 待整理的文件夹/github/bigandstone__TI-Cup-School-Competitions
	url = https://github.com/bigandstone/TI-Cup-School-Competitions.git
[submodule "待整理的文件夹/github/military-doge__Grayscale-Line-Follower-Robot"]
	path = 待整理的文件夹/github/military-doge__Grayscale-Line-Follower-Robot
	url = https://github.com/military-doge/Grayscale-Line-Follower-Robot.git
[submodule "待整理的文件夹/github/chenjingquan-hntb__Nuedc2026-MSPM0G3507-Vehicle"]
	path = 待整理的文件夹/github/chenjingquan-hntb__Nuedc2026-MSPM0G3507-Vehicle
	url = https://github.com/chenjingquan-hntb/Nuedc2026-MSPM0G3507-Vehicle.git
[submodule "待整理的文件夹/github/asdfguai__mspm0g3507-tracking-target-car"]
	path = 待整理的文件夹/github/asdfguai__mspm0g3507-tracking-target-car
	url = https://github.com/asdfguai/mspm0g3507-tracking-target-car.git
[submodule "待整理的文件夹/github/likechen0__four-drive-yabo-sensor"]
	path = 待整理的文件夹/github/likechen0__four-drive-yabo-sensor
	url = https://github.com/likechen0/four-drive-yabo-sensor.git
[submodule "待整理的文件夹/github/iwiwb__MSPM0-keil-project"]
	path = 待整理的文件夹/github/iwiwb__MSPM0-keil-project
	url = https://github.com/iwiwb/MSPM0-keil-project.git
[submodule "待整理的文件夹/github/QwQuintOO__MSPM0G3507_Template"]
	path = 待整理的文件夹/github/QwQuintOO__MSPM0G3507_Template
	url = https://github.com/QwQuintOO/MSPM0G3507_Template.git
[submodule "待整理的文件夹/github/xujh666__mspm0g3507-line-tracking-car_v1.0"]
	path = 待整理的文件夹/github/xujh666__mspm0g3507-line-tracking-car_v1.0
	url = https://github.com/xujh666/mspm0g3507-line-tracking-car_v1.0.git
[submodule "待整理的文件夹/github/xujh666__mspm0g3507-line-tracking-car"]
	path = 待整理的文件夹/github/xujh666__mspm0g3507-line-tracking-car
	url = https://github.com/xujh666/mspm0g3507-line-tracking-car.git
[submodule "待整理的文件夹/github/chowhound-eat__my-car-electronic-contest-prep"]
	path = 待整理的文件夹/github/chowhound-eat__my-car-electronic-contest-prep
	url = https://github.com/chowhound-eat/my-car-electronic-contest-prep.git
[submodule "待整理的文件夹/github/Yang-runze__mspm0g3507-smart-car"]
	path = 待整理的文件夹/github/Yang-runze__mspm0g3507-smart-car
	url = https://github.com/Yang-runze/mspm0g3507-smart-car.git
[submodule "待整理的文件夹/github/summer-xiying__MOTOR_PID_25H"]
	path = 待整理的文件夹/github/summer-xiying__MOTOR_PID_25H
	url = https://github.com/summer-xiying/MOTOR_PID_25H.git
[submodule "待整理的文件夹/github/dawn-qvq__-e-2025"]
	path = 待整理的文件夹/github/dawn-qvq__-e-2025
	url = https://github.com/dawn-qvq/-e-2025.git
[submodule "待整理的文件夹/github/aluomx__Nuedc-code"]
	path = 待整理的文件夹/github/aluomx__Nuedc-code
	url = https://github.com/aluomx/Nuedc-code.git
[submodule "待整理的文件夹/github/Eliauk-Camelia__mspm0g3507-imu-lcd"]
	path = 待整理的文件夹/github/Eliauk-Camelia__mspm0g3507-imu-lcd
	url = https://github.com/Eliauk-Camelia/mspm0g3507-imu-lcd.git
[submodule "待整理的文件夹/github/ice-cream-1024__-MSPM0G3507_car_control"]
	path = 待整理的文件夹/github/ice-cream-1024__-MSPM0G3507_car_control
	url = https://github.com/ice-cream-1024/-MSPM0G3507_car_control.git
[submodule "待整理的文件夹/github/Huai-jin-6__m0template"]
	path = 待整理的文件夹/github/Huai-jin-6__m0template
	url = https://github.com/Huai-jin-6/m0template.git
[submodule "待整理的文件夹/github/xiaoshuai361__mspm0g3507_template"]
	path = 待整理的文件夹/github/xiaoshuai361__mspm0g3507_template
	url = https://github.com/xiaoshuai361/mspm0g3507_template.git
[submodule "待整理的文件夹/github/Almighty42__MSPM0G3507-System-Library"]
	path = 待整理的文件夹/github/Almighty42__MSPM0G3507-System-Library
	url = https://github.com/Almighty42/MSPM0G3507-System-Library.git
[submodule "待整理的文件夹/github/ergouzi332__26_TI_MSPM0G3507"]
	path = 待整理的文件夹/github/ergouzi332__26_TI_MSPM0G3507
	url = https://github.com/ergouzi332/26_TI_MSPM0G3507.git
