[submodule "待整理的文件夹/github/menoking__PIDCarTemplate-MSPM0G3507"]
	path = 待整理的文件夹/github/menoking__PIDCarTemplate-MSPM0G3507
	url = https://github.com/menoking/PIDCarTemplate-MSPM0G3507.git
[submodule "待整理的文件夹/github/2262727886-stack__mspm0g3507-car-kit"]
	path = 待整理的文件夹/github/2262727886-stack__mspm0g3507-car-kit
	url = https://github.com/2262727886-stack/mspm0g3507-car-kit.git
[submodule "待整理的文件夹/github/abcuer__2024-NUEDC-H-TI_CAR"]
	path = 待整理的文件夹/github/abcuer__2024-NUEDC-H-TI_CAR
	url = https://github.com/abcuer/2024-NUEDC-H-TI_CAR.git
[submodule "待整理的文件夹/github/XinDevs__SmartPatrol"]
	path = 待整理的文件夹/github/XinDevs__SmartPatrol
	url = https://github.com/XinDevs/SmartPatrol.git
[submodule "待整理的文件夹/github/Kuriharamio__Electric-Race-Control"]
	path = 待整理的文件夹/github/Kuriharamio__Electric-Race-Control
	url = https://github.com/Kuriharamio/Electric-Race-Control.git
[submodule "待整理的文件夹/github/Torris-Yin__mspm0-modules"]
	path = 待整理的文件夹/github/Torris-Yin__mspm0-modules
	url = https://github.com/Torris-Yin/mspm0-modules.git
[submodule "待整理的文件夹/github/ZhijianLi2003__ZLC_MSPM0_Peripheral_Library"]
	path = 待整理的文件夹/github/ZhijianLi2003__ZLC_MSPM0_Peripheral_Library
	url = https://github.com/ZhijianLi2003/ZLC_MSPM0_Peripheral_Library.git
[submodule "待整理的文件夹/github/superbusycool__Ti_MSPM0G3507_Car"]
	path = 待整理的文件夹/github/superbusycool__Ti_MSPM0G3507_Car
	url = https://github.com/superbusycool/Ti_MSPM0G3507_Car.git
[submodule "待整理的文件夹/github/kaka12331__2024-dian-sai-h-line-follower"]
	path = 待整理的文件夹/github/kaka12331__2024-dian-sai-h-line-follower
	url = https://github.com/kaka12331/2024-dian-sai-h-line-follower.git
[submodule "待整理的文件夹/github/abcuer__2025-NUEDC-E-Ti_CAR"]
	path = 待整理的文件夹/github/abcuer__2025-NUEDC-E-Ti_CAR
	url = https://github.com/abcuer/2025-NUEDC-E-Ti_CAR.git
[submodule "待整理的文件夹/github/danshoujieyi__TI-MSPM0G3507"]
	path = 待整理的文件夹/github/danshoujieyi__TI-MSPM0G3507
	url = https://github.com/danshoujieyi/TI-MSPM0G3507.git
[submodule "待整理的文件夹/github/Cxxhh__MSPM0G3507-CMAKE-GCC-Template"]
	path = 待整理的文件夹/github/Cxxhh__MSPM0G3507-CMAKE-GCC-Template
	url = https://github.com/Cxxhh/MSPM0G3507-CMAKE-GCC-Template.git
[submodule "待整理的文件夹/github/Eliauk-Camelia__mspm0g3507-smart-car"]
	path = 待整理的文件夹/github/Eliauk-Camelia__mspm0g3507-smart-car
	url = https://github.com/Eliauk-Camelia/mspm0g3507-smart-car.git
[submodule "待整理的文件夹/github/xy1092__nuedc_control_freertos"]
	path = 待整理的文件夹/github/xy1092__nuedc_control_freertos
	url = https://github.com/xy1092/nuedc_control_freertos.git
[submodule "待整理的文件夹/github/LieWill__MSPM0G3507_for_car"]
	path = 待整理的文件夹/github/LieWill__MSPM0G3507_for_car
	url = https://github.com/LieWill/MSPM0G3507_for_car.git
[submodule "待整理的文件夹/github/woai66__SeekFree_MSPM0G3507_Opensource_Library"]
	path = 待整理的文件夹/github/woai66__SeekFree_MSPM0G3507_Opensource_Library
	url = https://github.com/woai66/SeekFree_MSPM0G3507_Opensource_Library.git
[submodule "待整理的文件夹/github/Pansamic__ros2car_mspm0"]
	path = 待整理的文件夹/github/Pansamic__ros2car_mspm0
	url = https://github.com/Pansamic/ros2car_mspm0.git
[submodule "待整理的文件夹/github/CXCXHH__Dual-vehicle-Collaborative-Intelligent-Medicine-Delivery-Cart"]
	path = 待整理的文件夹/github/CXCXHH__Dual-vehicle-Collaborative-Intelligent-Medicine-Delivery-Cart
	url = https://github.com/CXCXHH/Dual-vehicle-Collaborative-Intelligent-Medicine-Delivery-Cart.git
[submodule "待整理的文件夹/github/Zlxwy__mspm0g3507_project"]
	path = 待整理的文件夹/github/Zlxwy__mspm0g3507_project
	url = https://github.com/Zlxwy/mspm0g3507_project.git
[submodule "待整理的文件夹/github/huber2025__TI_mspm0G3507_balance_car"]
	path = 待整理的文件夹/github/huber2025__TI_mspm0G3507_balance_car
	url = https://github.com/huber2025/TI_mspm0G3507_balance_car.git
[submodule "待整理的文件夹/github/Adnis018__TI_MSPM0G3507_Trace_Tracking_Module"]
	path = 待整理的文件夹/github/Adnis018__TI_MSPM0G3507_Trace_Tracking_Module
	url = https://github.com/Adnis018/TI_MSPM0G3507_Trace_Tracking_Module.git
